@charset "UTF-8";
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*$screen-xs-min: 576px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

@mixin breakpoint($size) {
  @if $size == small {
    @media only screen and (min-width: $screen-xs-min) {
        @content;
    }
  }
  @else if $size == med-small {
    @media only screen and (min-width: $screen-sm-min) {
        @content;
    }
  }
  @else if $size == med {
    @media only screen and (min-width: $screen-md-min) {
        @content;
    }
  }
 @else if $size == large {
    @media only screen and (min-width: $screen-lg-min) {
        @content;
    }
  }
  @else if $size == x-large {
    @media only screen and (min-width: $screen-xl-min) {
        @content;
    }
  }
  @else if $size == xx-large {
    @media only screen and (min-width: $screen-xxl-min) {
        @content;
    }
  }
}*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*Fonts*/
/*Colors*/
/*Breakpoints*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.banner-full {
  background-color: #ffeb91;
  color: #2D0404;
}
.banner-full .row-ayudar {
  margin: 0;
}
.banner-full .banner1-ayudar {
  padding: 0px 0px;
}
.banner-full .banner1-ayudar .cont-banner {
  padding-left: 18% !important;
  padding-right: 8% !important;
}
.banner-full .banner1-ayudar .cont-banner .banner-h1 {
  font-size: 40px;
  padding-bottom: 10%;
  padding-top: 10%;
}
.banner-full .banner1-ayudar .cont-banner .boton-body {
  color: #2D0404;
  border-color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 4%;
}
.banner-full .banner1-ayudar .cont-banner .boton-body:hover {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.banner2-ayudar {
  height: 100%;
  background: url(../imagenes/nocolor.svg) no-repeat center;
  background-size: cover;
}

.pasos-ayudar {
  background: #FFFFFF;
}
.pasos-ayudar .row-pasos-ayudar {
  margin: 0;
}
.pasos-ayudar .pasos1-ayudar {
  padding: 0px 0px;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar {
  padding-left: 18% !important;
  padding-right: 8% !important;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .pasos-h2 {
  font-size: 40px;
  padding-bottom: 5%;
  padding-top: 0;
  color: #2D0404;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .item-1-a {
  color: #F45366;
  padding-bottom: 10px;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .item-2-a {
  color: #1AC63F;
  padding-bottom: 10px;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .item-3-a {
  color: #8753F4;
  padding-bottom: 10px;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .item-4-a {
  color: #2182f1;
  padding-bottom: 10px;
}
.pasos-ayudar .pasos1-ayudar .cont-pasos-ayudar .item-content p {
  color: #717171;
  width: 90%;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pasos2-ayudar {
  height: 100%;
  background: url(../imagenes/ayudar-2.svg) no-repeat center;
  background-size: cover;
}

.contactus {
  background: #F6F6F6;
  padding: 6% 0 8% 0;
}
.contactus .headings h2 {
  font-size: 40px;
  color: #F45366;
  padding-bottom: 1%;
}
.contactus .headings .p-form-ayudar {
  color: #717171;
  font-size: 20px;
  width: 60%;
  margin: auto;
  letter-spacing: 1px;
  padding-bottom: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.contactus form {
  padding-top: 2%;
  padding-bottom: 5%;
}
.contactus form .input-form {
  border: 1px solid #2D0404 !important;
  border-radius: 0.25rem;
}
.contactus form textarea, .contactus form input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #dbdbdb;
  letter-spacing: 1px;
  font-size: 14px;
}
.contactus form .btn-form {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 1.5% 4%;
  border-color: #FFFFFF;
}

/* On screens that are 768px wide or less, go from four columns to two columns */
@media (max-width: 768px) {
  .banner-full {
    background-color: #F45366;
    color: #FFFFFF;
  }

  .boton-body {
    border-color: #FFFFFF !important;
    color: white !important;
  }

  .pasos-h2 {
    padding-top: 15% !important;
  }

  .item-content p {
    font-size: 14px !important;
  }

  .headings h2 {
    font-size: 30px !important;
    color: #F45366;
    padding-bottom: 2%;
    padding-top: 3%;
  }

  .headings .p-form-ayudar {
    font-size: 14px !important;
    width: 80% !important;
  }
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media (max-width: 992px) {
  .banner-h1 {
    font-size: 35px !important;
  }

  .banner2-ayudar {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }

  .cont-section .section-h2 {
    font-size: 35px !important;
  }

  .pasos2-ayudar {
    height: 100%;
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }

  .pasos-h2 {
    font-size: 35px !important;
  }

  .p-form-ayudar {
    font-size: 18px !important;
    width: 90% !important;
    padding-bottom: 5% !important;
  }
}
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background: #FFFFFF;
  color: rgba(71, 71, 71, 0.089);
  box-shadow: 0 0 14px 14px;
}
header .logo {
  position: relative;
  display: inline-block;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.2s;
  opacity: 0;
}
@keyframes slide_left {
  0% {
    transform: translateX(-32px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, Roboto, Oxygen, Ubuntu, Cantarell, ‘Open Sans’, ‘Helvetica Neue’, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 14px;
  text-decoration: none;
  margin-left: 10px;
  padding: 0px 18px;
  animation: slide_top 0.2s linear forwards;
  animation-delay: calc(0.1s * var(--i));
  opacity: 0;
}
@keyframes slide_top {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header ul li a:hover {
  color: #F45366;
}
header .navigation {
  margin: 0;
}

@media (max-width: 950px) {
  header {
    padding: 25px;
  }
  header ul li {
    margin: 10px 0;
  }
  header ul li a {
    margin-left: 0;
    font-size: 22px;
    padding-top: 20px;
  }
  header .toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #FFFFFF url(../imagenes/menu.svg);
    border-radius: 5px;
    border: solid #2D0404 2px;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 6;
  }
  header .toggle.active {
    background: #FFFFFF url(../imagenes/menu-close.svg);
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
footer {
  padding: 30px 20px;
  color: #FFFFFF;
  background-color: #2B2828;
  width: 100%;
}

.footer-list {
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.simple-footer ul {
  list-style: none;
  margin-bottom: 25px;
  justify-content: center;
}

.simple-footer li {
  padding: 0 15px;
  margin-bottom: 0;
}

.footer-list a {
  text-decoration: none;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;
}

.simple-footer p {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-bottom: 20px;
}

@media (max-width: 650px) {
  .sm-iconw {
    width: 24px;
    height: 24px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .logofooter {
    width: 90%;
  }

  .simple-footer p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    width: 300px;
    letter-spacing: 2px;
    font-weight: 300;
    padding-top: 10px;
    margin: 1px 80px;
    line-height: 24px;
  }
}
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*$screen-xs-min: 576px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

@mixin breakpoint($size) {
  @if $size == small {
    @media only screen and (min-width: $screen-xs-min) {
        @content;
    }
  }
  @else if $size == med-small {
    @media only screen and (min-width: $screen-sm-min) {
        @content;
    }
  }
  @else if $size == med {
    @media only screen and (min-width: $screen-md-min) {
        @content;
    }
  }
 @else if $size == large {
    @media only screen and (min-width: $screen-lg-min) {
        @content;
    }
  }
  @else if $size == x-large {
    @media only screen and (min-width: $screen-xl-min) {
        @content;
    }
  }
  @else if $size == xx-large {
    @media only screen and (min-width: $screen-xxl-min) {
        @content;
    }
  }
}*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*-- Error 404 page style --*/
.banner-error {
  background: #FFFFFF;
}
.banner-error .cont-error {
  padding-left: 18% !important;
  padding-right: 8% !important;
}
.banner-error .cont-error .errorh1 {
  color: #2D0404;
  font-size: 40px;
  padding-bottom: 10%;
  padding-top: 10%;
}
.banner-error .cont-error .btn-error {
  color: #2D0404;
  border-color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 4%;
}
.banner-error .cont-error .btn-error:hover {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.colserror2 {
  height: 100%;
  background: url(../imagenes/404img.svg) no-repeat center;
  background-size: cover;
}

/*-- Error 404 page style --*/
/*-- Inicio page style --*/
.cols-home {
  padding: 0px 0px;
}
.cols-home .cont-bannerh {
  padding-left: 18% !important;
  padding-right: 8% !important;
}
.cols-home .cont-bannerh .banner-homeh1 {
  color: #2D0404;
  font-size: 40px;
  padding-bottom: 10%;
  padding-top: 10%;
}

.cols-home2 {
  height: 100%;
  background: url(../imagenes/banner.svg) no-repeat center;
  background-size: cover;
}

.cont-sectionh {
  padding-left: 18% !important;
  padding-right: 16% !important;
}
.cont-sectionh .section-homeh2 {
  color: #F45366;
  font-size: 40px;
  padding-bottom: 5%;
  padding-top: 10%;
}
.cont-sectionh .section-home-p {
  color: #717171;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  padding-bottom: 6%;
}

.cols-home3 {
  height: 100%;
  background: url(../imagenes/gif-iniciativa.gif) no-repeat center;
  background-size: cover;
}

.cols-home4 {
  height: 100%;
  background: url(../imagenes/banner.svg) no-repeat center;
  background-size: cover;
}

.btn-home1 {
  color: #2D0404;
  border-color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 4%;
}
.btn-home1:hover {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.my-custom-row {
  margin: 0;
}

/* On screens that are 768px wide or less, go from four columns to two columns */
@media (max-width: 768px) {
  .banner-homeh1 {
    color: #FFFFFF !important;
    font-size: 30px !important;
  }

  .section-homeh2 {
    color: #FFFFFF !important;
    font-size: 30px !important;
  }

  .section-home-p {
    color: #FFFFFF !important;
    font-size: 14px !important;
  }

  .btn-home1 {
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2% 4%;
  }
  .btn-home1:hover {
    background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
    color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .banner-home {
    background: #F45366;
  }

  .home1-section {
    background: #2182f1;
  }

  .home2-section {
    background: #8753F4;
  }
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media (max-width: 992px) {
  .cols-home2 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }

  .cols-home3 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }

  .cols-home4 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }
}
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
/*$screen-xs-min: 576px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1200px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

@mixin breakpoint($size) {
  @if $size == small {
    @media only screen and (min-width: $screen-xs-min) {
        @content;
    }
  }
  @else if $size == med-small {
    @media only screen and (min-width: $screen-sm-min) {
        @content;
    }
  }
  @else if $size == med {
    @media only screen and (min-width: $screen-md-min) {
        @content;
    }
  }
 @else if $size == large {
    @media only screen and (min-width: $screen-lg-min) {
        @content;
    }
  }
  @else if $size == x-large {
    @media only screen and (min-width: $screen-xl-min) {
        @content;
    }
  }
  @else if $size == xx-large {
    @media only screen and (min-width: $screen-xxl-min) {
        @content;
    }
  }
}*/
/*Fonts*/
/*Fonts*/
/*Colors*/
/*Breakpoints*/
.banner-fullp {
  background: url(../imagenes/nocolor-big.svg) no-repeat center;
  background-size: cover;
  background-color: #F6F6F6;
}
.banner-fullp .row-pers {
  margin: 0;
}
.banner-fullp .banner1-per {
  padding: 0px 0px;
}
.banner-fullp .banner1-per .cont-bannerp .banner-h1p {
  font-size: 40px;
  padding-bottom: 4%;
  padding-top: 4%;
  width: 50%;
  margin: auto;
  color: #2D0404;
}
.banner-fullp .banner1-per .cont-bannerp .btn-banner-per {
  padding-left: 45%;
}
.banner-fullp .banner1-per .cont-bannerp .btn-banner-per .boton-per-banner {
  color: #2D0404;
  border-color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 4%;
}
.banner-fullp .banner1-per .cont-bannerp .btn-banner-per .boton-per-banner:hover {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.section1-full-per .row-per,
.section2-full-per .row-per {
  margin: 0;
}
.section1-full-per .section1-per,
.section2-full-per .section1-per {
  padding: 0px 0px;
}
.section1-full-per .section1-per .cont-section-per,
.section2-full-per .section1-per .cont-section-per {
  padding-left: 14% !important;
  padding-right: 10% !important;
}
.section1-full-per .section1-per .cont-section-per .personas-h2,
.section2-full-per .section1-per .cont-section-per .personas-h2 {
  font-size: 40px;
  padding-bottom: 5%;
  padding-top: 0;
  color: #2D0404;
}
.section1-full-per .section1-per .cont-section-per .section-p-p,
.section2-full-per .section1-per .cont-section-per .section-p-p {
  color: #717171;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.section1-full-per .section1-per .cont-section-per .boton-sm,
.section2-full-per .section1-per .cont-section-per .boton-sm {
  color: #F45366;
  border-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 8% 2% 0;
}
.section1-full-per .section1-per .cont-section-per .boton-sm:hover,
.section2-full-per .section1-per .cont-section-per .boton-sm:hover {
  color: #8753F4;
  background: white;
  border-color: none;
}
.section1-full-per .section1-per .cont-section-per .btn-slide-per,
.section2-full-per .section1-per .cont-section-per .btn-slide-per {
  padding-top: 6%;
}
.section1-full-per .section1-per .cont-section-per .btn-slide-per .boton-per,
.section2-full-per .section1-per .cont-section-per .btn-slide-per .boton-per {
  color: #2D0404;
  border-color: #2D0404;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 2% 4%;
}
.section1-full-per .section1-per .cont-section-per .btn-slide-per .boton-per:hover,
.section2-full-per .section1-per .cont-section-per .btn-slide-per .boton-per:hover {
  background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.section2-per {
  height: 100%;
  background: url(../imagenes/persona-1photo.png) no-repeat center;
  background-size: 70%;
}

.section3-per {
  height: 100%;
  background: url(../imagenes/persona-2photo.png) no-repeat center;
  background-size: 70%;
}

.section4-per {
  height: 100%;
  background: url(../imagenes/persona-3photo.png) no-repeat center;
  background-size: 70%;
}

@media (max-width: 992px) {
  .cont-section-per {
    padding-right: 35%;
  }

  .personas-h2 {
    font-size: 30px !important;
  }

  .section-p-p {
    font-size: 14px !important;
  }

  .banner-h1p {
    font-size: 35px !important;
    width: 50% !important;
  }

  .btn-banner-per {
    padding-left: 42% !important;
  }

  .banner-fullp {
    background: url(../imagenes/nocolor-medium.svg) no-repeat center;
    background-size: cover;
    background-color: #F6F6F6;
  }
}
@media (max-width: 768px) {
  .section2-per {
    background: url(../imagenes/persona-1photo2.png) no-repeat center;
    background-size: 100%;
    height: 30%;
    padding-top: 0;
  }

  .section3-per {
    background: url(../imagenes/persona-2photo2.png) no-repeat center;
    background-size: 100%;
    height: 30%;
    padding-top: 0;
  }

  .section4-per {
    background: url(../imagenes/persona-3photo2.png) no-repeat center;
    background-size: 100%;
    height: 30%;
    padding-top: 0;
  }

  .btn-slide-per {
    display: none;
  }

  .personas-h2 {
    font-size: 30px !important;
    padding-top: 8% !important;
  }

  .cont-section-per {
    margin: 0 !important;
  }

  .banner-fullp {
    background: #8753F4;
  }

  .banner-h1p {
    font-size: 30px !important;
    width: 80% !important;
    padding-bottom: 9% !important;
    color: #FFFFFF !important;
  }

  .btn-banner-per {
    padding-left: 36% !important;
  }
  .btn-banner-per .boton-per-banner {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
  }
}
body {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
