@import '../base/mixin';
@import '../base/maps';
@import '../base/condicion';
@import '../base/variables';

/*-- Banner Estilo --*/
.cols-home {
    padding: 0px 0px;

    .cont-bannerh {
      padding-left: 18% !important;
      padding-right: 8% !important;

      .banner-homeh1 {
        color: $brown;
        font-size: $h1-d;
        padding-bottom: 10%;
        padding-top: 10%;
      }
    }
}

/*-- Estilo de secciones de iniciativa --*/
.cols-home2 {
  height: 100%;
  background: url(../imagenes/banner_home.png) no-repeat center;
  background-size: cover;      
}

.cont-sectionh {
  padding-left: 18% !important;
  padding-right: 16% !important;

    .section-homeh2 {
      color: $pink;
      font-size: $h1-d;
      padding-bottom: 5%;
      padding-top: 10%;
    }

    .section-home-p {
      color: $gray;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1px;
      padding-bottom: 6%;
    }
}

.cols-home3 {
  height: 100%;
  background: url(../imagenes/index_2section.png) no-repeat center;
  background-size: cover;
}

.cols-home4 {
  height: 100%;
  background: url(../imagenes/index_3section.png) no-repeat center;
  background-size: cover;
}

.btn-home1 {
  @include boton;
  &:hover {
      background-image: linear-gradient(to right, $blue, $pink, $yellow);
      color: $white;
      border-color: $white;
  }
}
.my-custom-row {
  margin: 0;
}

/* Media queries de tamaño tablet o menos*/
@media (max-width: 768px) {
  .banner-homeh1 {
    color: $white !important;
    font-size: 30px !important;
  }
  .section-homeh2 {
    color: $white !important;
    font-size: 30px !important;
  }
  .section-home-p {
    color: $white !important;
    font-size: 14px !important;
  }
  .btn-home1 {
    @include botonwhite;
    &:hover {
        background-image: linear-gradient(to right, $blue, $pink, $yellow);
        color: $white;
        border-color: $white;
    }
  }
  .banner-home {
    background: url(../imagenes/banner_home-sm.png) no-repeat center;
    background-size: cover; 
  }
  .home1-section {
    background: $blue; 
  }
  .home2-section {
    background: $purple;
  }
}

/* Media queries tamaño tablet o compus pequeñas */
@media (max-width: 992px) {

  .cols-home2 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;      
  }
  .cols-home3 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }
  .cols-home4 {
    background: url(../imagenes/flag.svg) no-repeat center;
    background-size: cover;
  }

}

/*-- Error 404 page style --*/
.banner-error {
  background: $white;

  .cont-error {
    padding-left: 18% !important;
    padding-right: 8% !important;

    .errorh1 {
      color: $brown;
      font-size: $h1-d;
      padding-bottom: 10%;
      padding-top: 10%;
    }
    .btn-error {
      @include boton;
      &:hover {
          background-image: linear-gradient(to right, $blue, $pink, $yellow);
          color: $white;
          border-color: $white;
      }
    }
  }
}
.colserror2 {
  height: 100%;
  background: url(../imagenes/404img.svg) no-repeat center;
  background-size: cover;
}
/*-- Error 404 page style --*/