@import '../base/mixin';
@import '../base/maps';
@import '../base/condicion';
@import '../base/variables';

/*INICIO GLOSARIO*/
.banner-glosario {
    background-color: #9D2B47;
  }
  
  .cols-glos {
    padding: 0px 0px;
  }
  
  .cols2-glos {
    height: 100%;
    background: url(../imagenes/Glosario-img.svg) no-repeat center;
    background-size: cover;
  }
  
  .cont-bannerg {
    padding-left: 18% !important;
    padding-right: 8% !important;
  }
  
  .cont-bannerg h1 {
    color:#9D2B47;
    font-size: 42px !important;
    padding-bottom: 10%;
    padding-top: 10%;
      position: relative;
      animation-name: example;
      animation-duration: 3s;  
      animation-fill-mode: forwards;
    }
    
    @keyframes example {
      from {right: 100px;}
      to {right: 0px; color: #ffffff;}
    }
  
  .btn-glos {
    color: #ffffff;
    border-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2% 4%;
  }
  
  .btn-glos:hover {
    background-image: linear-gradient(to right, #2182f1, #F45366, #e2c12f);
    color: white;
    border-color: #9D2B47;
  }
  
  .cont-titleg h1{
    color: #2D0404;
    font-size: 38px !important;
    padding-bottom: 12%;
    padding-top: 16%;
    line-height: 50px;
    letter-spacing: 1px;
  }
  
  .cont-titleg {
    padding-left: 18% !important;
    padding-right: 8% !important;
  }

/* Inicio Glosario
.glosario-content{
    padding-top: 9%;
    margin: 0px 70px 70px 70px;
}

.title-glo {
    font-weight: bolder;
	font-size: 3.2rem;
    color: #2D0404;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 5%;
}

.grid-glo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    align-items: center;
    padding-bottom: 3%;
}

.grid-glo .termino {
  background: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  transition: transform .3s;
}

.grid-glo .termino:hover  {
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.151);
  
}

.grid-glo .termino img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-bottom: 1px;
}

.termino .texto {
  padding: 0 20px 20px;
}

.texto h2 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 0px;
  color: #2D0404;
  letter-spacing: 1.2px;
  font-size: 18px;
}

.texto p {
  color: $gray;
  letter-spacing: 0.6px;
  line-height: 22px;
  font-size: 14px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 3%;
}
Fin Glosario */

.row {
  margin: 0;
}
.lado1 {
  background: #F45366;
  position: static;
  .cont-terms1 {
    padding-top: 28% !important;
    padding-left: 10% !important;
    padding-right: 15% !important;
    .title-terms1{
      font-size: 30px;
      color: white;
    }
    .textagain {
      padding-top: 10%;
      padding-bottom: 15%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: $white;
      letter-spacing: 1px;
    }
    .btn-terms{
      @include botonwhite;
      &:hover {
          background-image: linear-gradient(to right, $blue, $pink, $yellow);
          color: $white;
          border-color: $white;
      }
    }
  }
}

.lado2 {
  background: #f0f0f0;
  .terms1-content {
    padding-left: 4%;
    padding-right: 3%;
  }
}



.section-homeh2 {
  padding-top: 30%;
}

.myhover1 {
  padding-top: 22%;
}
.myhover {
  font-size: 28px;
}

.hide {
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.myhover:hover + .hide {
  display: block;
  color: black;
}