@import '../base/variables';

/*Aplicable para algunos backgrounds y h1 de banners*/

@mixin condicion($colorif) {
  background-color: $colorif;
  
  @if $colorif == $light-yellow {
    color: $brown;
  }
  @else {
    color: $white;
  }
}