@import '../base/variables';

/*Aplicable para listas que usarán mismos elementos con diferentes colores*/

$items-nro: (
    verdemal: #1AC63F,
    rosafeo: #F45366,
    morado: #8753F4,
    azulito: #2182f1,
);