/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*Fonts*/
$h1-d: 40px;
$h2-d: 40px;
$p-d: 16px;
$btn-t: 14px;
$h3-d: 22px;
$btn-text: 14px;
$spc-title: 2px;
$spc-p: 1px;

/*Colors*/
$white: #FFFFFF;
$brown: #2D0404;
$pink: #F45366;
$gray: #717171;
$gray-dark: #2B2828;
$blue: #2182f1;
$yellow: #e2c12f;
$light-yellow: #f1e5ad;
$purple: #8753F4;
$bg-gray: #F6F6F6;
$green: #1AC63F;

/*Breakpoints*/
$screen-sm-min: 480px;
$screen-md-min: 920px;
$screen-xl-min: 1400px;